{% extends 'base.html' %}

{% block content %}
<h1>Members group</h1>
{% for name in group_name %}
<span>{{ name }}</span>
{% endfor %}
<h2>Add students</h2>
<form method="post">
    <label for="surname">Введіть призвіще студента</label>
    <input type="text" id="surname" name="surname"><br>

    <label for="name">Введіть name студента</label>
    <input type="text" id="name" name="name"><br>

    <label for="surname">Введіть age студента</label>
    <input type="age" id="age" name="age"><br>

    <label for="home_address">Введіть home_address студента</label>
    <input type="text" id="home_address" name="home_address"><br>

</form>